body {
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 18px;
}
#wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.floatRight {
  float: right;
}

.formField {
  margin-left: 5px;
  margin-right: 5px;
}

.table th.vert-align{
    vertical-align: middle;
}

.table td.vert-align{
    vertical-align: middle;
}
